/**************/
/* Index Page */
/**************/

a p {
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: none !important;
}

body {
    background-color: #fffaf4 !important;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.index-button {
    display: inline-block;
    font-weight: 500;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #ffda08;
    margin-top: 20px;
}

.index-button:hover {
    color: #212529;
    text-decoration: none;
    opacity: 0.95;
}

.signup-button {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 20px 10px 0 10px;
    background-color: transparent;
    color: white;
    border: 2px white solid;
}

.signup-button:hover {
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

#base-nav {
    background-color: black;
    color: white;
    z-index: 2;
}

.nav-item {
    color: white;
    text-decoration: none;
}

.nav-item.dropdown {
    font-size: 18px;
}

.nav-item:hover {
    color: white;
    text-decoration: none;
}

#banner{
    background: url("../images/brooke-lark-08bOYnH_r_E-unsplash.jpg") fixed;
    background-size: 100%;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    position: relative;
    display: block;
}

.active-white {
    color: white;
}detail-image-div

@media screen and (max-width: 850px) {
    #banner{
        background: url(../images/brooke-lark-08bOYnH_r_E-unsplash.jpg) fixed;
        background-size: 800px;
        height: 600px;
        background-repeat: no-repeat;
        position: relative;
        display: block;
    }
}

.homepage-content {
    text-align: center
}

.homepage-content h1{
    color: black;
    padding-top: 200px;
    padding-bottom: 30px;;
    font-size: 54px;
    font-family: "Josefin Slab";
}

h1 {
    font-family: 'Roboto Slab', serif;
}

/**************************/
/* Recipe Post List Page */
/**************************/
.list-page-header{
    background-color: #ffda08;
}
.list-page-header-text {
    color: #212529;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: 'Josefin Slab', serif;
    background-color: #ffda08;
    font-size: 52px;
}
/*
.list-page-header-text:hover{
    color: #666560;
}*/
.list-search-form{
    padding-bottom: 80px;
    margin-bottom: 20px;
}
.list-page-search{
    width: 90% !important;
    border: 2px solid black!important;
    border-radius: 0!important;
}
.list-search-button{
    color: white!important;
    background-color: black!important;
    border-radius: 0!important;
    border-color: black!important;
}
.thumbnail {
    padding: .50rem;
    background-color: #fff;
    border-radius: .25rem;
    width: auto;
    height: 300px;
    object-fit: cover;
}

.thumbnail:hover {
    transform: scale(0.99)
}

.recipe-card-link {
    color: black;
}

.recipe-card-link:hover {
    color: black;
    text-decoration: none;
}

.card.recipe-card {
    width: 23rem !important;
    margin-bottom: 15px;
    border: 5px solid;
}

.recipe-ingredients {
    padding: 100px;
    background-color: #F8F8F8;
    width: 900px;
    margin: auto;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

/*
.recipe-card:hover {
    box-shadow: 0px 0px 7px 7px #ebebeb;
}
*/

.add-button {
    display: inline-block;
    font-weight: 600;
    color: #0c8e7b;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 3rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: transparent;
    position: absolute;
    right: 0.4em;
    bottom: 0.75em;
}

.add-button:hover {
    color: #457c74;
    text-decoration: none;
}

.plus-circle {
    border-radius: 50%;
    box-shadow: 1px 3px 8px 0px #9e9999
}

/****************************/
/* Recipe Post Detail Page */
/****************************/

.recipe-detail-image {
    width: 900px;
    height: 500px;
    object-fit: cover;
    border-style: solid;
    color: black;
    border-width: 10px;
    margin-top: 50px;
}

.detail-page-header{
    color: #212529;
    text-align: center;
    margin-top: 30px;
    font-family: 'Josefin Slab', serif;
}

.recipe-detail-text{
    background-color: #ffda08;
    position: absolute;
    top: 500px;
    right: 170px;
    width: 380px;
    height: 200px;
    padding-top: 25px;
    border: 4px;
    border-style: solid;
    color: black;
    outline: 6px solid black;
    outline-offset: -18px;
    z-index: 2;
}

.modify-button {
    display: inline-block;
    font-weight: 600;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: transparent;
}

.modify-button:hover {
    color: #666560;
    text-decoration: none;
}

.post-details {
    text-align: center;
    font-size: 14px;
    font-family: "Quicksand";
}

/*******************/
/* Add Recipe Form */
/*******************/

.imageinputclass {
    position: relative;
    padding-left: 15px;
}

#add-recipe-form {
    background-color: white;
    margin: 80px;
    border: 10px solid;
}

.bootstrap3-multi-input {
    margin-left: 1px !important;
}
/*******************/
/* Login Form */
/*******************/

.login {
    margin: 15px 15px 0 0;
}


/**************/
/* Mobile CSS */
/**************/

@media screen and (max-width: 850px) {
    #banner{
        background: linear-gradient(rgba(22,22,22,0.4), rgba(22,22,22, 0.02)), url(../images/brooke-lark-08bOYnH_r_E-unsplash.jpg) fixed;
        background-position: 40%;
        background-size: 800px;
        height: 600px;
        background-repeat: no-repeat;
        position: relative;
        display: block;
    }
    .homepage-content h1 {
        color: white;
        padding-top: 180px;
        padding-bottom: 30px;
        font-size: 45px;
        font-family: "Josefin Slab";
        font-weight: bolder;
    }
    .recipe-detail-image {
        width: 100%;
        height: 550px;
        object-fit: cover;
        border-style: none;
        color: black;
        border-width: 10px;
        margin-top: 0px;
    }
    .detail-image-div {
        padding: 0px !important;
    }
    .list-page-header-text {
        color: #212529;
        margin-top:0px;
        text-align: center;
        font-family: 'Josefin Slab', serif;
        background-color: #ffda08;
        padding: 50px;
    }
    .phone-padding {
        padding: 0 !important;
    }
    .card.recipe-card {
        width: 18rem !important;
        margin-bottom: 15px;
        border: 5px solid;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .recipe-detail-text {
        background-color: #ffda08;
        position: absolute;
        width: 350px;
        height: auto;
        top: 530px;
        right: 30px;
        padding: 25px 30px !important;
        border: 4px;
        border-style: solid;
        color: black;
        outline: 6px solid black;
        outline-offset: -18px;
        text-align: center;
    }
    .recipe-ingredients {
        padding: 200px 30px;
        background-color: #F8F8F8;
        width: 900px;
        margin: auto;
        margin-bottom: 30px;
        font-family: 'Quicksand', sans-serif;
    }
    #add-recipe-form {
        background-color: white;
        margin: 15px 0;
        border: 10px solid;
    }
    #add-recipe-form h1{
        text-align: center;
    }
    .list-search-form{
        padding-bottom: 60px;
        padding-left: 42px!important;
        margin-bottom: 20px;
    }
    .list-page-search{
        width: 80% !important;
    }
}