{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Recipe Suggester</title>
    <link rel=stylesheet href="{% static 'css/index.css' %}" type="text/css">
    <!-- Bootstrap   -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- CKEditor   -->
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    <!-- Google Fonts   -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <!-- FontAwesome   -->
    <!--    <link href="{% static 'css/fontawesome-free-5.13.0-web/css/fontawesome.css' %}" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <div class="pos-f-t">
      <nav id="base-nav" class="navbar navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand nav-item" href="{% url 'recipe_app:index' %}">Recipe Suggester</a>
          <ul class="nav navbar-nav navbar-right nav-item">
            {% if user.is_authenticated %}
                <li>
                    {% if user.userprofileinfo.profile_pic %}
                        <a><img src="{{user.userprofileinfo.profile_pic.url}}" alt="Avatar" class="avatar"></a>
                    {% else %}
                        <a class="nav-item">Welcome {{ user.username }}</a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
      </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                        <li class="text-white h4">
                            <a class="nav-item dropdown" href="{% url 'recipe_app:recipe_new' %}">Add Recipe</a>
                        </li>
                        <li class="text-white h4">
                            <a class="nav-item dropdown" href="{% url 'recipe_app:recipepost_list' %}">Recipes</a>
                        </li>
                        <li class="text-white h4">
                            <a class="nav-item dropdown" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                        <li class="text-white h4">
                            <a class="nav-item dropdown" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="text-white h4"><a class="nav-item" href="{% url 'recipe_app:login' %}">Login</a></li>
                        <li class="text-white h4"><a class="nav-item " href="{% url 'recipe_app:register' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
             </div>
        </div>
    </div>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
</body>
</html>