{% extends 'recipe_app/base.html' %}
{% block body_block %}
{% load static %}

    <div id="banner">
        <div class="container homepage-content">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 pull-right">
                    <h1>Your Daily Yum!</h1>
                    <div class="col-10 offset-1">
                        <form class="form-inline active-white" method="GET">
                           {% csrf_token %}
                              <input type="text" class="form-control list-page-search" name="search" placeholder="Search for recipe" aria-label="Search" aria-describedby="basic-addon2">
                               <div class="input-group-append">
                                 <button class="btn btn-outline-secondary list-search-button" type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
                               </div>
                        </form>
                    </div>
                    {% if user.is_authenticated %}
                        <a href="{% url 'recipe_app:recipepost_list' %}" class="index-button" id="index-button">Go to Recipes</a>
                    {% else %}
                        <a href="{% url 'recipe_app:login' %}" class="index-button" id="index-button">Login</a>
                        <a href="{% url 'recipe_app:register' %}" class="signup-button" id="index-button">Sign Up</a>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}