{% extends 'recipe_app/base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block body_block %}


<div class="container">
   <div class="jumbotron" id="add-recipe-form">
        <h1>Meal Not Found</h1>
        <form class="form-inline active-white" method="GET">
           {% csrf_token %}
              <input type="text" class="form-control list-page-search" name="search" placeholder="Search by ingredient" aria-label="Search" aria-describedby="basic-addon2">
               <div class="input-group-append">
                 <button class="btn btn-outline-secondary list-search-button" type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
               </div>
        </form>
   </div>

</div>


{% endblock %}