{% extends 'recipe_app/base.html' %}
{% block body_block %}
{% load static %}

<div class="list-page-header">
    <h1 class="list-page-header-text">My Favorite Recipes!</h1>
    <div class="col-lg-4 offset-lg-4 list-search-form">
        <form class="form-inline active-white" method="GET">
           {% csrf_token %}
              <input type="text" class="form-control list-page-search" name="search_recipes" placeholder="Search for recipe" aria-label="Search" aria-describedby="basic-addon2">
               <div class="input-group-append">
                 <button class="btn btn-outline-secondary list-search-button" type="submit"><i class="fas fa-search" aria-hidden="true"></i></button>
               </div>
        </form>
    </div>
</div>


<div class="container">
    <div class="row">
    {% for recipe in recipepost_list %}
            <div class="col-lg-4 phone-padding">
                <a href="{% url 'recipe_app:recipepost_detail' pk=recipe.pk %}" class="recipe-card-link">
                    <div class="card recipe-card" style="width: 18rem;">
                        {% if recipe.image %}
                            <img class="card-img-top thumbnail" src="{{ recipe.image.url }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{recipe.title}}</h5>
                            <p>Published on: {{recipe.create_date|date:"D M Y"}}</p>
                         </div>
                    </div>
                </a>
            </div>

       {% empty %}
        <h3>No recipes added yet!</h3>
    {% endfor %}
    </div>
    <div class="row">
        <div class="fixed-bottom">
            <a href="{% url 'recipe_app:recipe_new' %}" class="add-button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            </a>
        </div>
    </div>
 </div>

{% endblock %}